<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>
      If you get lost, the
      <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
      your guide.
    </p>
    <button tappable mat-raised-button color="primary">Click</button>
  </div>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col>
        <ion-button fill="outline" expand="block">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          Back
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="primary">
          <ion-icon slot="start" name="arrow-forward"></ion-icon>
          Next
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
