<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form class="container">
      <mat-card>
        <mat-card-title class="card-title-row">
          What will you do to get enough dialysis? Select one. If you select Other, please specify.
        </mat-card-title>
        <mat-card-content>
          <div class="container-column" class="radio-button-group container-column">
            <mat-radio-group>
              <mat-radio-button
                class="radio-button"
                *ngFor="let option of options"
                [value]="option"
                disableRipple="false"
              >
                {{ option }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="button-row">
        <button class="secondaryBtn" color="accent" mat-stroked-button type="button">
          Prev Question
        </button>
        <button tappable class="primaryBtn" color="accent" mat-raised-button>
          Next Question
        </button>
      </div>
    </form>
  </div>
  <div class="footer">
    <ion-toolbar position="bottom">
      <ion-row>
        <ion-col>
          <ion-button fill="outline" expand="block">
            <ion-icon slot="start" name="arrow-back"></ion-icon>
            Back session
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="primary">
            <ion-icon slot="start" name="arrow-forward"></ion-icon>
            Next session
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
</ion-content>
